/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos del contenedor principal */
.contenedor {
    display: flex;
    height: 100vh;
    background-image:url(./imagenes/fondo.jpg);
}

/* Estilos del menú izquierdo */
.menu {
    flex:1;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.menu img{
width: 50px;
left: 50px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos del contenido derecho */
.contenido {
    flex: 3;
    padding: 20px;
}

/* Estilos para la lista horizontal */
.menu ul li {
    display:block;
    margin-right: 20px;
}

/* Estilos para la lista de empresas */
.Redes {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.Redes li {
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.Redes li:hover {
    background-color: #444;
}

/* Estilos para la información de la empresa */
.Informacion-basica {
    display: none;
}

.Informacion-basica h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Informacion-basica p {
    font-size: 16px;
    line-height: 1.5;
}

.uno{
    bottom: 0;
    position: absolute;
    border: none; 
    color: rgb(255, 255, 255); 
    padding: 10px 12px; 
    cursor: pointer; 
    border-radius: 5px; 
    text-decoration: none;
    background-color:#333; 
    border: 2px solid #ffffff;
  }
  .uno {background-color:#333; border: 2px solid #ffffff;} 
  .uno:hover {background: #007bff; color:#ffffff;}




  .dos{
    bottom: 0;
    position: absolute;
    border: none; 
    color: rgb(255, 255, 255); 
    padding: 10px 12px; 
    cursor: pointer; 
    border-radius: 5px; 
    text-decoration: none;
    background-color:#333; 
    border: 2px solid #ffffff;
    margin-left: 100px;
  }
  .dos {background-color:#333; border: 2px solid #ffffff;} 
  .dos:hover {background: #007bff; color:#ffffff;}

  .tres{
    bottom: 0;
    position: absolute;
    border: none; 
    color: rgb(255, 255, 255); 
    padding: 10px 12px; 
    cursor: pointer; 
    border-radius: 5px; 
    text-decoration: none;
    background-color:#333; 
    border: 2px solid #ffffff;
  margin-left: 240px;
  }
  .tres {background-color:#333; border: 2px solid #ffffff;} 
  .tres:hover {background: #007bff; color:#ffffff;}


.tabla:hover {
    background: #ffffff; color: #333;
}

.contenido p{ 
    color: #ffffff;
    font-size: large;
  }
  .contenido h2{ 
    color: #ffffff;
  }